/* Основные стили для панели */
.sidebar {
  width: 50px; /* Узкая панель по умолчанию */
  background-color: white;
  height: 100vh;
  position: relative;
  transition: width 0.3s ease; /* Анимация при наведении */
  overflow: hidden; /* Скрываем содержимое */
}

.sidebar:hover {
  width: 200px; /* Расширение панели при наведении */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar-content button {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-content button:hover {
  background-color: #0056b3;
}
